h4
{
  color:mediumorchid;
}
.bookcover{

}
.bookdot{

}
.page
{

}
.left
{

}
.mid
{

}
.right
{

}
.today
{

}
.proflie
{

}
.title
{


}
.main{

}
.menu
{

}
.image{

}
.item
{

}

}
.introduct
{
  color:mediumorchid;
}
.notice
{
  margin-left: 10px;
}
